@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:800&display=swap');

body {
  margin: 0;
  
}

/* типографика */
h1 {
  font-size: 64px;
  font-family: 'Nunito', sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.094;
  text-align: center;
  position: absolute;
  top: 250px;
  z-index: 1;
  left: 300px;
  right: 200px;
}



h2 {
  font-size: 43px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.233;

}




h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

/* Contacting */
.contact {
  background-color: #1175b7;
  height: 54px;
  padding-top: 17.5px;
  padding-bottom: 18px;
  font-size: 16px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  
}

.contact>.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.header-contact-text {
  width: 400px;

}

.header-nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
 
}
.social-icon {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.container {
  margin: 0 auto;
  width: 1111px;
 
}

.header-img {
  max-width: 100%;
  margin: 0 auto;

}




.header-nav {
position: fixed;
  background-color: white; 
}

.header-nav>.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 19px;
  padding-top: 50px;
  padding-top: 36px;
}

/* логотип */
.logo {
  width: 162px;
  height: 32px;
  margin-top: 8px;

}

.logo:hover {
transform: scale(1.2);
}

.logo:active {
  transform: scale(0.8);
}
/* кнопки */
.header-button {
  border-radius: 3px;
  background-color: rgb(246, 169, 55);
  width: 185px;
  height: 50px;
  font-size: 18px;
  font-family: "JosefinSans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.889;
  text-decoration: none;
  text-align: center;
  padding: 15px 15px;
  box-sizing: border-box;
}


.header-button:hover {
background-color: #1175b7;
}

.header-button:active {
transform: scale(0.8);
  }
  
.nav {
  margin-left: 10px;
  margin-top: 15px;
}

.nav-link {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: rgb(17, 117, 183);
  font-weight: bold;
  line-height: 0.889;
  padding-right: 18px;
  text-decoration: none;
}

.nav-link:hover{
color:orange;
width:bold;
}


img {
  max-width: 100%;
  height: auto;
}

.slider {
  background-color: green;
  height: 100px;
}

.slick-slide img {
  display: block;
padding: 10px 10px;
}



.about-us {
  padding-top: 118px;
  padding-bottom: 20px;
  position: relative;
}

.call-us {
  background-color: #f6a937;
  z-index: 3;
  width: 40%;
  height: 23.3%;
  position: absolute;
  bottom: 23px;
  display: flex;
  right: 13.5px;
}

.call-us__title__phone {
  margin-left: 28.5px;
}

.call-us h4 {
  font-size: 18px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.333;
  margin-top: 63px;
}

.call-us a {
  font-size: 35px;
  font-family: "JosefinSans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.457;
  margin: 0;
  text-decoration: none;
  animation: blink 3s infinite;
}

@keyframes blink {
  from { opacity: 0; /* Непрозрачный текст */ }
  to { opacity: 1; /* Прозрачный текст */ }
 }

.call-us a:hover {
color: #038fd6;
animation: none;
}

.call-us p:active {
 transform: scale(0.8);
  }

.call__phone-vector-smart-object {
  margin-left: 76px;
  margin-top: 73px;
}

.about {
  background-color: #038fd6;
  color: white;
  z-index: 2;
  width: 37%;
  position: absolute;
  right: -13px;
  top: 90px;
  bottom: 231px;
  padding: 100px 49.5px 106px 64.5px;
  border: 28.5px solid;
  margin:10px 30px 10px 30px;
}

.about h3 {
  font-size: 43px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.233;
  margin-bottom: 39px;

}

.about h4 {
  font-size: 18px;
  font-family: "JosefinSans";
  color: rgb(255, 255, 255);
  line-height: 1.444;
  margin-bottom: 102px
}



.about p {
  font-size: 18px;
  font-family: "Raleway";
  color: rgb(254, 254, 255);
  font-weight: bold;
  line-height: 0.889;

}





.about-us-image {
  z-index: 1;
  width: 100%;
  position: relative;
}

.our-services {

  padding: 132px 142px 116px 145px;
  height: 935px;
}


.overview {
  background-color: #038fd6;
  padding-top: 88px;
  padding-bottom: 100px;

}

.overview>.container {
  display: flex;
  justify-content: space-between;
}

.why-choose-us {
  padding-top: 118px;
  padding-bottom: 73, 99px;
}

.why-choose-us>.container {
  display: flex;
  flex-direction: row;

}

.why-choose-us_text {
  margin-left: 56px;
}

.why-choose-us_text h2 {
  font-size: 43px;
  font-family: "Raleway";
  color: rgb(3, 143, 214);
  font-weight: bold;
  line-height: 1.279;
  margin-bottom: 58px;
}

.why-choose-us_text p {
  font-size: 18px;
  font-family: "Raleway";
  color: rgb(3, 143, 214);
  font-weight: bold;
  line-height: 0.889;
}

.med {
  margin-right: 20px;
}
.why-choose-us_image {
  width: 50%;
  padding: 10px 10px 10px 10px;
}

.why-choose-us_list {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 20px;
  font-family: "JosefinSans";
  color: rgb(65, 65, 65);
  line-height: 2.1;
}

.certified-company-block {
  border-radius: 3px;
  background-color: rgb(246, 169, 55);
  width: 270px;
  height: 102px;
  font-size: 18px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.333;
  text-align: left;
  display: inline-flex;
  padding: 23px;
  margin-top: 15px;
}

.certified-company-block img {
  height: 50%;
  margin-top: 25px;
  margin-right: 10px;
}


/* блок service */
.service {
  background-color: #f9f5f2;
  padding-top: 83px;
  padding-bottom: 120px;
}

.service>.container>p {
  font-size: 18px;
  font-family: "Raleway";
  color: rgb(246, 169, 55);
  font-weight: bold;
  line-height: 0.889;
  text-align: center;

}

.service>.container>h2 {
  font-size: 43px;
  font-family: "Raleway";
  color: rgb(65, 65, 65);
  font-weight: bold;
  line-height: 1.279;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;

}

/* слайдер*/
.header-carusel {

}




.header-carusel img {
height: 100vh;
width: 100%;
object-fit: fill;
}

/* каруселька */

.carousel {
  position: relative;
  padding: 40px 77px;
  background: #f9f5f2;
  height: 546px;

}

.carousel img {

  /* по умолчанию inline, в ряде браузеров это даст лишнее пространство вокруг элементов */

  display: block;
}

 
.sprite-next {
  right:10px;
  }



.sprite-prev {
left:10px;
}

.sprite-prev:before {
  content: "←";
  font-weight: 900;
  }

.sprite-next:before {
content: " →";
font-weight: 900;
}

.slick-arrow {
   position: absolute;
  top: 264px;
  padding: 15px;
  background: #038fd6;
  border-radius: 60%;
  border: none;
  font-size: 26px;
  line-height: 24px;
  display: block; 
  color: #fff;
}

.slick-arrow:hover {
  background: rgb(246, 169, 55);
 }


.slick-arrow:active {
   background: rgb(246, 169, 55);
}



.gallery {
  width: 100%;
  overflow: hidden;
}




.smart-object {
  display: block;
  width: 70, 5px;
  height: 72px;
  margin-bottom: 26px;
  margin-left: 51px;
  margin-top: 33px;
}

.gallery h3 {
  margin-left: 51px;
  font-size: 22px;
  font-family: "Raleway";
  color: rgb(141, 140, 140);
  font-weight: bold;
  line-height: 2.5;
}

.gallery p {
  width: 269px;
  margin-left: 51px;
  font-size: 16px;
  font-family: "JosefinSans";
  color: rgb(132, 132, 132);
  line-height: 1.5;

}

.images-bg-blue {
  background: #038fd6;
}

.images-bg-white {
  background-color: #ffff;
}

.images-bg-blue>p,
.images-bg-blue>h3 {
  color: #ffffff;
}

/* форма обратной связи  */
.feedback-form {
  background-color: #fce5c3;
  z-index: 2;
  width: 37%;
  position: absolute;
  right: -13px;
  top: 90px;
  bottom: 231px;
  padding: 52.5px 58.5px 49.5px 61.5px;
  border: 28.5px solid white;
}

#survey-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

#survey-form label {
  margin-bottom: 18px;
}

#survey-form input {
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 411px;
  height: 59px;
  padding-left: 25px;
}

#survey-form ::placeholder {

  font-size: 16px;
  font-family: "JosefinSans";
  color: rgb(65, 65, 65);
  line-height: 1;
}

#survey-form button {
  border-radius: 4px;
  background-color: rgb(246, 169, 55);
  width: 184px;
  height: 58px;
  font-size: 18px;
  font-family: "JosefinSans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.889;
  display: block;
  margin: 10px auto;
}


#survey-form button:hover {
background-color: #038fd6;
}

#survey-form button:active {
transform: scale(0.8);
  }

.feedback-form h3 {
  font-size: 43px;
  font-family: "Raleway";
  color: rgb(65, 65, 65);
  font-weight: bold;
  line-height: 1.279;
  margin: 0;
}

.feedback-form p {
  font-size: 18px;
  font-family: "Raleway";
  color: rgb(65, 65, 65);
  font-weight: bold;
  line-height: 0.889;

}

/* контакты футер */
.contact-footer {
  height: 100px;
  border: 1px solid rgb(176, 167, 214);

}

/* футер */
.footer {
  background-image: url('img/footer-bg.png');


}

.footer-wrapper {
  display: flex;

}

.footer-col-1,
.footer-col-2 {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "JosefinSans";
  color: rgb(255, 255, 255);
  line-height: 2.5;
}



.enter-your-email {
  padding: 0;
}





.footer h3 {
  font-size: 22px;
  font-family: "JosefinSans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.727;
}

.footer-col-1 p,
.footer-col-3 p {
  font-size: 16px;
  font-family: "JosefinSans";
  color: rgb(235, 230, 230);
  line-height: 1.625;
  width: 280px;
}




.footer-col-2_first>a,
.footer-col-2_second>a {
  font-size: 16px;
  font-family: "JosefinSans";
  color: rgb(255, 255, 255);
  line-height: 2.5;
  text-decoration: none;
  display: flex;
}

.footer-col-wrapper {
  display: flex;
  display: row;

}



/* Our-project */

.our-projects-title {
  font-size: 43px;
  font-family: "Raleway";
  color: rgb(65, 65, 65);
  font-weight: bold;
  line-height: 0.372;
  text-align: center;
}
  .our-projects p {
    font-size: 18px;
    font-family: "JosefinSans";
    color: rgb(119, 119, 119);
    line-height: 1.333;
    text-align: center;
  }


  @media (max-width: 576px) {

   }

  @media (max-width: 768px) { 
    .about-us-image img {
      display: none;
    }
      


.about {
  position: initial;
  width: 83%;
}
  @media (max-width: 992px) { 
 
   }

   



  @media (max-width: 1200px) { ... }

